/* You can add global styles to this file, and also import other style files */
input[type=text], select, textarea, input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  &.error {
    border-color: indianred;
  }
}

textarea {
  height: 300px;
}

label {
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  :hover {
    background-color: #45a049;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  :hover input ~ .checkmark {
    background-color: #eeeeee;
  }
  input:checked ~ .checkmark {
    background-color: #45a049;
  }
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.error-text {
  color: indianred;
  font-weight: bold;
  font-size: 12px;
}
